*{
    margin: 0;
    padding: 0;
}
#heading{
 background-color: rgb(27, 27, 52);
 color: white;
 text-align: center;
 height: 5rem;
 line-height: 5rem;
 
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.choice{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap:5rem;
}


#user-score{
font-size: 40px;
}
#comp-score{
    font-size: 40px;
}
.score{
    margin-top: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap:4rem;
}
#msg{
    margin-top: 3rem;
   text-align: center;
   font-size: 40px;
   background-color: rgb(27, 27, 41);
   color: white;
   /* display: inline; */

}